<div class="container">
    <div class="row expanded">
        <div class="columns medium-6">
            <card title="Lista de tareas a realizar">
                <app-agregar-tarea></app-agregar-tarea>
                <app-lista-tareas estadoTareas="por_realizar"></app-lista-tareas>
            </card>
        </div>
        <div class="columns medium-6">
            <card title="Lista de tareas realizadas">
                <app-lista-tareas estadoTareas="realizadas"></app-lista-tareas>
            </card>
        </div>
    </div>
</div>